{%extends display.mvc%}

{%block head_css%}
<link rel="stylesheet"        href="{{url.static}}assets/css/main.css">
{%endblock%}


{%block foot_js%}
{%endblock%}


{%block body%}
<div id="navbar-main">
 <!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="#home">{{site.title}}</a> </div>
   <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
     <li> <a href="#home" class="smoothScroll">{%trans "Home"%}</a></li>
     <li> <a href="#about" class="smoothScroll">{%trans "About"%}</a></li>
     <li> <a href="#services" class="smoothScroll">{%trans "Features"%}</a></li>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
     <li> <a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}{{key|slice(0, 2)}}/{%endif%}{{url.path}}" hreflang="{{key|slice(0, 2)}}" data-direct class="langlist">{{lang}}</a></li>
{%endfor%}
    </ul>
   </div>
   <!--/.nav-collapse -->
  </div>
 </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
 <header class="clearfix"> <i class="fa fa-language icon"></i>
  <h1>{%trans "Learn & Enjoy"%}</h1>
  <p>{{site.title}} {%trans "uses Leitner flashcards to make memorizing facts"%}<br />{%trans "not only more efficient but also more fun."%}
   </p>
   <a href="https://telegram.me/azvir_bot?ref=site" class="btn btn-lg" target="_blank">{%trans "Start learn with fun"%}</a>
  </header>
</div>
<!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
 <div class="container">
  <div class="row white">
   <h2 class="centered">{%trans "ABOUT US"%}</h2>
   <hr>
   <div class="col-md-6"> <img class="img-responsive" src="{{url.static}}assets/img/about/about1.jpg" align=""> </div>
   <div class="col-md-6">
    <h3>{%trans "Who we are"%}</h3>
    <p>{%trans "We are some developer and try to create usefull tools. our another tools is comming soon"%}</p>
    <h3>{%trans "Why choose our service?"%}</h3>
    <p>{%trans "In past we use <a href='http://sourceforge.net/projects/jmemorize/' target='_blank'>jmemorize</a> and enjoy using it."%} {%trans "It written in Java and depending on Os."%} {%trans "We decide to create a service like jmemorize and help people to learn with Leitner flashcard with fun and enjoy using it."%}
    </p>
   </div>
  </div>
  <!-- row -->
 </div>
</div>
<!-- container -->

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
 <div class="container">
  <div class="row">
   <h2 class="centered">{%trans "OUR FEATURES"%}</h2>
   <hr>
   <div class="col-lg-8 col-lg-offset-2">
    <p class="large">{{site.title}} {%trans "manages your learn progress and features categories, Unicode flashcard texts, statistics and an intuitive interface."%}</p>
   </div>
   <div class="col-lg-4 callout"> <i class="fa fa-desktop fa-3x"></i>
    <h3>{%trans "Responsive Design"%}</h3>
    <p>{%trans "You can use our service in all of your device in any resolution."%}</p>
   </div>
   <div class="col-lg-4 callout"> <i class="fa fa-gears fa-3x"></i>
    <h3>{%trans "Web Development"%}</h3>
    <p>{%trans "We develope features and improve usability of this service."%}</p>
   </div>
   <div class="col-lg-4 callout"> <i class="fa fa-line-chart fa-3x"></i>
    <h3>{%trans "Learn Faster"%}</h3>
    <p>{%trans "with this service based on Leitner flashcard we help you learn faster than usual and enjoy!"%}</p>
   </div>
  </div>
  <!-- row -->
 </div>
</div>
<!-- container -->


<div id="footerwrap">
 <div class="container">
  <div class="row">
   <div class="col-md-8"> <span class="copyright">{%trans "Copyright"%} &copy; {%trans "2015"%} {{site.title}}. {%trans "Powered by"%} <a href="http://saloos.ir" target="_blank" title="قدرت گرفته از سالوس | Saloos">{%trans "Saloos"%}</a> {%trans "in"%} <a href="https://ermile.com" target="_blank">{%trans "Ermile"%}</a>.</span></div>
   <div class="col-md-4">
    <ul class="list-inline social-buttons">
     <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
     <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
     <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
     <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
    </ul>
   </div>
  </div>
 </div>
</div>

{%endblock%}