{%extends display.mvc%}
{%block head_css%}<style type="text/css"></style>{%endblock%}




{%block content%}

<div id="list-categories" class="row">
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span1.jpg">
			<div class="information card1" ></div>
		</div>
		<span>
			<p>504 Words</p>
		</span>
	</div>
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span4.jpg">
			<div class="information card2" ></div>
		</div>
		<span>
			<p>4000 Esentional</p>
		</span>
	</div>
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span3.jpg">
			<div class="information card3" ></div>
		</div>
		<span>
			<p>1100 Words</p>
		</span>
	</div>
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span4.jpg">
			<div class="information card4" ></div>
		</div>
		<span>
			<p>4000 Esentional</p>
		</span>
	</div>
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span5.jpg">
			<div class="information card5" ></div>
		</div>
		<span>
			<p>601 Words</p>
		</span>
	</div>
	<div class="span2">
		<div class="pic-categories">
			<img src="static/images/span2.jpg">
			<div class="information card6" ></div>
		</div>
		<span>
			<p>TOEFL</p>
		</span>
	</div>
</div>

<div  id="information-cards" class="row">
	<div class="span2">
		<h3>FontSide</h3>
		<ul>
			<li>while</li>
			<li>book</li>
			<li>case</li>
			<li>situation</li>
			<li>strong</li>
			<li>camel</li>
			<li>start</li>
			<li>gilgamesh</li>
			<li>smart</li>
			<li>while</li>
			<li>book</li>
			<li>case</li>
			<li>situation</li>
			<li>strong</li>
			<li>camel</li>
			<li>start</li>
			<li>gilgamesh</li>
			<li>smart</li>
			<li>while</li>
			<li>book</li>
			<li>case</li>
			<li>situation</li>
			<li>strong</li>
			<li>camel</li>
			<li>start</li>
			<li>gilgamesh</li>
			<li>smart</li>
			<li>while</li>
			<li>book</li>
			<li>case</li>
			<li>situation</li>
			<li>strong</li>
			<li>camel</li>
			<li>start</li>
			<li>gilgamesh</li>
			<li>smart</li>

		</ul>
	</div>
	<div class="span2">
			<h3>Deck</h3>
			<ul>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>3</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>3</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>3</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>3</li>
				<li>2</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
			</ul>
		</div>
		<div class="span2">
			<h3>Categories</h3>
			<ul>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson3</li>
				<li>All</li>
				<li>All</li>
				<li>lesson2</li>
				<li>lesson2</li>
				<li>All</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson3</li>
				<li>All</li>
				<li>All</li>
				<li>lesson2</li>
				<li>lesson2</li>
				<li>All</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson3</li>
				<li>All</li>
				<li>All</li>
				<li>lesson2</li>
				<li>lesson2</li>
				<li>All</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson1</li>
				<li>lesson3</li>
				<li>All</li>
				<li>All</li>
				<li>lesson2</li>
				<li>lesson2</li>
				<li>All</li>
			</ul>
		</div>
		<div class="span2">
			<h3>Last Try</h3>
			<ul>
				<li>2 days ago</li>
				<li>11 days ago</li>
				<li>1 week ago</li>
				<li>5 days ago</li>
				<li>30 seconds ago</li>
				<li>5 month ago</li>
				<li>19 minute ago</li>
				<li>5 hours ago</li>
				<li>1 days ago</li>
				<li>2 days ago</li>
				<li>11 days ago</li>
				<li>1 week ago</li>
				<li>5 days ago</li>
				<li>30 seconds ago</li>
				<li>5 month ago</li>
				<li>19 minute ago</li>
				<li>5 hours ago</li>
				<li>1 days ago</li>
				<li>2 days ago</li>
				<li>11 days ago</li>
				<li>1 week ago</li>
				<li>5 days ago</li>
				<li>30 seconds ago</li>
				<li>5 month ago</li>
				<li>19 minute ago</li>
				<li>5 hours ago</li>
				<li>1 days ago</li>
				<li>2 days ago</li>
				<li>11 days ago</li>
				<li>1 week ago</li>
				<li>5 days ago</li>
				<li>30 seconds ago</li>
				<li>5 month ago</li>
				<li>19 minute ago</li>
				<li>5 hours ago</li>
				<li>1 days ago</li>
			</ul>
		</div>
				<div class="span2">
			<h3>Expiers</h3>
			<ul>
				<li>01/21/16</li>
				<li>05/20/16</li>
				<li>011/20/16</li>
				<li>05/25/16</li>
				<li>07/20/16</li>
				<li>05/20/16</li>
				<li>12/20/16</li>
				<li>05/23/16</li>
				<li>03/01/16</li>
				<li>01/21/16</li>
				<li>05/20/16</li>
				<li>011/20/16</li>
				<li>05/25/16</li>
				<li>07/20/16</li>
				<li>05/20/16</li>
				<li>12/20/16</li>
				<li>05/23/16</li>
				<li>03/01/16</li>
				<li>01/21/16</li>
				<li>05/20/16</li>
				<li>011/20/16</li>
				<li>05/25/16</li>
				<li>07/20/16</li>
				<li>05/20/16</li>
				<li>12/20/16</li>
				<li>05/23/16</li>
				<li>03/01/16</li>
				<li>01/21/16</li>
				<li>05/20/16</li>
				<li>011/20/16</li>
				<li>05/25/16</li>
				<li>07/20/16</li>
				<li>05/20/16</li>
				<li>12/20/16</li>
				<li>05/23/16</li>
				<li>03/01/16</li>
			</ul>
		</div>
				<div class="span2">
			<h3>Passed (%)</h3>
			<ul>
				<li>28%</li>
				<li>19%</li>
				<li>100%</li>
				<li>75%</li>
				<li>63%</li>
				<li>66%</li>
				<li>82%</li>
				<li>10%</li>
				<li>3%</li>
				<li>28%</li>
				<li>19%</li>
				<li>100%</li>
				<li>75%</li>
				<li>63%</li>
				<li>66%</li>
				<li>82%</li>
				<li>10%</li>
				<li>3%</li>
				<li>28%</li>
				<li>19%</li>
				<li>100%</li>
				<li>75%</li>
				<li>63%</li>
				<li>66%</li>
				<li>82%</li>
				<li>10%</li>
				<li>3%</li>
				<li>28%</li>
				<li>19%</li>
				<li>100%</li>
				<li>75%</li>
				<li>63%</li>
				<li>66%</li>
				<li>82%</li>
				<li>10%</li>
				<li>3%</li>

			</ul>
		</div>


</div>



{%endblock%}





{%block foot_js%}<script type="text/javascript"></script>{%endblock%}