{%extends display.mvc%}


{%block content%}
<div id="dashboard" class="row">
	<header class="span2">
		<div >
			<div class="info box-shadow" id="profile">
				<img src="static/images/profile.jpg">
				<span>Jack Smith <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			</div>
			<ul id="profile_nav" class="box-shadow">
				<li><a href="#"> <i class="fa fa-user" aria-hidden="true"></i> User Profile </a></li>
				<li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i>Setting </a></li>
				<li><a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout </a></li>
			</ul>
		</div>
	</header>
	<div id="main" class="span10">
		<div class="row up">
			<div class="span5 box-shadow">
				<h3>All Categories <i class="fa fa-bar-chart" aria-hidden="true"></i></h3>
				<hr class="name-hr">
				<div id="bar-stacked-chart" class=""></div>
			</div>
			<div class="span3 up-middle">
				<div class="box-shadow">
					<h3>Total Cards <i class="fa fa-pie-chart" aria-hidden="true"></i></h3>
					<hr class="name-hr">
					<div id="half-cake-chart"></div>
				</div>
			</div>
			<div class="span4">
				<div class="down-right-up box-shadow">
					<h3>Average Work Time <i class="fa fa-hourglass-half" aria-hidden="true"></i></h3>
					<hr class="name-hr">
					<div class="daily">
						<div>
							<span>Cards</span>
							<time>17 S</time>
						</div>
						<div>
							<span>Daily </span>
							<time>50 M</time>
						</div>
						<div>
							<span>Weekly</span>
							<time>5 H</time>
						</div>
						<div>
							<span>Monthly</span>
							<time>35 H</time>
						</div>

					</div>
				</div>
				<div class="row down-right-down">
					<div class="span6 box-shadow">
						<h3>Ask Me <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
						<hr class="name-hr">
						<div>
							<time><a href="#">Let's Go</a></time>
						</div>
					</div>
					<div class="span6 box-shadow">
						<h3>Last Try <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
						<hr class="name-hr">
						<div>
							<time>3 Days Ago</time>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row down">
			<div class="span8 box-shadow">
				<h3>Total Chart Progress <i class="fa fa-line-chart" aria-hidden="true"></i></i></h3>
				<hr class="name-hr">
				<!-- <nav >
					<a href="#">Daily</a>
					<a href="#" class="active">Weekly</a>
					<a href="#">Monthly</a>
				</nav>
				<div id="total-chart-progress"></div> -->
				<div id="chart-progress">
					<ul class="tab-cake">
						<li data-tab-navigate="general">General</li>
						<li data-tab-navigate="scheduling">Scheduling</li>
						<li data-tab-navigate="advansed">Advansed </li>
					</ul>
					<ul class="tab-content">
						<li data-tab-content="general">General**</li>
						<li data-tab-content="scheduling">Scheduling**</li>
						<li data-tab-content="advansed">Advansed**</li>
					</ul>
				</div>

			</div>
			<div class="span4 most-failed-cards box-shadow">
				<h3>Most Failed Cards <i class="fa fa-thumbs-down" aria-hidden="true"></i></h3>
				<hr class="name-hr">
				<div>
					<ul>
						<li>Aberration <span>25%</span></li>
						<li class="have-margin"></li>
						<li>Dogmatic <span>22%</span></li>
						<li class="have-margin"></li>
						<li>Obdurate <span>19%</span></li>
						<li class="have-margin"></li>
						<li>Fetter <span>17%</span></li>
						<li class="have-margin"></li>
						<li>Impecunious <span>13%</span></li>
						<li class="have-margin"></li>
						<li>Platitude <span>10%</span></li>
						<li class="have-margin"></li>
						<li>Compunction <span>7%</span></li>
						<li class="have-margin"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/patterns.js"></script>

<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
{%endblock%}
