{%extends display.cards%}


{%block content%}
Show list of cats

{% for row in datatable %}
    <li>{{ row.cardcat_title }}</li>
{% endfor %}


<form method="post" id="addcat" action="/cat/add">
  
 <div class="row auto container">
  <div class="span12">
    <input type="text" id="title" name="title" class="sp-title input" placeholder='{%trans "Enter title here"%}' />
    <textarea name="desc" class="sp-content editor" data-placeholder='{%trans "Write your post content here"%}'></textarea>
    <button type="submit" value="submit" class="button positive">Add New Category</button>
  </div>
 </div>


 </form>
  
{%endblock%}