{%extends display.cards%}

{%block content%}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <table class="striped">
      <thead>
        <tr>
            <th data-field="id">Front Side</th>
            <th data-field="name">Deck</th>
            <th data-field="price">Category</th>
            <th data-field="price">Last Test</th>
            <th data-field="price">Expires</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
      </tbody>
    </table>
{%endblock%}