{%extends display.mvc%}

{%block head_css%}
{%endblock%}


{%block foot_js%}
  <script src="{{url.static}}js/highcharts/highcharts.js"></script>
  <script src="{{url.static}}js/script.js"></script>
{%endblock%}


{%block header%}
  <nav class="nav">
    <ul class="nav-ul">
      <li>
        <a href="#">
          <i class="fa fa-home fa-2x"></i>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-plus fa-2x"></i>
        </a>
      </li>
    </ul>
  </nav>
{%endblock%}


{%block footer%}
  <div id="footer">This is footer!</div>
{%endblock%}


{%block content%}
{%endblock%}