@import url("font-awesome.min.css");
@import url("jquery.dataTables.css");

.nav {
	height: 45px;
	line-height: 45px;
	background: #33414e;
}

.nav-ul > li {
	display: inline-block;
	padding: 0 15px;
}

.nav-ul > li:hover {
	background: #3d4e5d;
	color: #fff;
}

.nav-ul > li > a {
	display: inline-block;
	color: #ddd;
	height: 100%;
}
